html, body {
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-image: url("../images/background.jpeg");
}

.border{
    overflow: scroll;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: solid white;
    padding-top: 130px;
    padding-bottom: 250px;
}

.logo{
    width: 50%;
    margin-left: 25%;
}

.links{
    font-size: 28px;
    font-family: Nito Serif;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .links{
        margin-left: 45%;
        font-size: 48px;
        margin-bottom: 250px; 
    }
    .logo{
        width: 100%;
        
        margin-left: 50% !important;

    }
    .border{
        padding-top: 300px;
        padding-bottom: 200px !important;        
        padding-right: 30% !important;
    }
}
@media screen and (max-width: 400px){
    .links{
        font-size: 38px;
        margin-bottom: 250px;
    }
    .logo{
        height: 10%;
    }
    .border{
        padding-top: 300px;
        padding-bottom: 60px !important;
    }
}
